# Historical availability data wrangling

In [29]:
import pandas as pd

In [30]:
historical_availability = pd.read_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/raw/availability_factor/historical_availability_factor.csv')
historical_availability

,Year,Coal,CHP,combined_cycle,simple_cycle,Hydro,Source: AESO 2017 Annual Market Statistics
0,2013,0.79,0.69,0.72,0.78,0.76,NaN
1,2014,0.89,0.68,NaN,0.74,0.75,NaN
2,2015,0.85,0.66,0.64,0.79,0.76,NaN
3,2016,0.87,0.55,0.69,0.79,0.82,NaN
4,2017,0.85,0.56,0.77,0.84,0.79,NaN

In [31]:
historical_availability = historical_availability.drop(['Source: AESO 2017 Annual Market Statistics ', 'simple_cycle', 'Hydro'], axis=1)
historical_availability

   Year  Coal   CHP  combined_cycle
0  2013  0.79  0.69            0.72
1  2014  0.89  0.68             NaN
2  2015  0.85  0.66            0.64
3  2016  0.87  0.55            0.69
4  2017  0.85  0.56            0.77

In [32]:
long_availability = historical_availability.melt(value_vars=['Coal','CHP','combined_cycle'], id_vars='Year', value_name="capacity_factor", var_name='plant_type')
long_availability

    Year      plant_type  capacity_factor
0   2013            Coal             0.79
1   2014            Coal             0.89
2   2015            Coal             0.85
3   2016            Coal             0.87
4   2017            Coal             0.85
5   2013             CHP             0.69
6   2014             CHP             0.68
7   2015             CHP             0.66
8   2016             CHP             0.55
9   2017             CHP             0.56
10  2013  combined_cycle             0.72
11  2014  combined_cycle              NaN
12  2015  combined_cycle             0.64
13  2016  combined_cycle             0.69
14  2017  combined_cycle             0.77

In [33]:
long_availability.to_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/processed/availability_factor/historical_availability_factor.csv')