In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
historical_costs = pd.read_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/raw/power_plants_costs/historical_costs/historical_data_for_costs.csv')

In [3]:
# Remove columns with no data, and source for analysis
historical_costs = historical_costs[historical_costs.columns[~historical_costs.columns.str.contains('Unnamed:')]].drop('Source',axis=1)
historical_costs = historical_costs.dropna(how='all')
# historical_costs = historical_costs.drop(historical_costs.loc[:,"2018":"2022"].head(0).columns, axis=1)
historical_costs

,Technology,Country,Year,Units,1981,1984,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,CCGT,UK,2013,USD/MWh - 5% discount rate,NaN,NaN,NaN,NaN,NaN,80.620000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.260000,NaN,NaN
1,Coal,UK,2013,USD/MWh - 5% discount rate,173.04,100.52,78.140000,NaN,NaN,87.760000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nuclear,UK,2013,USD/MWh - 5% discount rate,120.93,65.42,73.480000,NaN,NaN,89.180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.880000,NaN,NaN
3,Onshore,UK,2016,USD/kWh - 7.5% discount rate,NaN,NaN,0.230000,0.240000,0.230000,0.210000,0.200000,0.200000,0.19000,0.190000,0.180000,0.160000,0.15000,0.130000,0.110000,0.120000,0.120000,0.130000,0.120000,0.120000,0.110000,0.120000,0.110000,0.090000,0.080000,0.080000,0.080000,0.080000,0.080000,0.080000,NaN
4,Onshore,UK,2016,USD/MWh - 7.5% discount rate,NaN,NaN,234.265791,238.452286,225.247339,209.610418,202.227328,201.994283,188.37211,191.800909,177.292193,161.375506,152.24639,132.804218,114.072269,117.517566,121.074925,134.083202,120.392212,120.466508,114.158809,118.093503,112.663503,87.534354,84.902193,81.457285,82.946837,81.527251,77.672426,78.878602,NaN
5,PV - Utility,UK,2016,USD/kWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.453000,0.440000,0.503000,0.232000,0.200000,0.164000,0.163000,0.150000
6,PV - Utility,UK,2016,USD/MWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,453.300000,440.000000,503.200000,232.300000,199.900000,164.000000,162.800000,149.900000
7,Hydropower <10MW,Europe,2016,USD/kWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.110000,0.110000,0.110000,0.110000,0.110000,0.110000,0.110000,0.110000
8,Hydropower <10MW,Europe,2016,USD/MWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.751841,106.751841,106.751841,106.751841,106.751841,106.751841,106.751841,106.751841
9,Hydropower >10MW,Europe,2016,USD/kWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.140000,0.140000,0.140000,0.140000,0.140000,0.140000,0.140000,0.140000
10,Hydropower >10MW,Europe,2016,USD/MWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139.040000,139.040000,139.040000,139.040000,139.040000,139.040000,139.040000,139.040000
11,Bioenergy,Europe,2016,USD/kWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,0.090000,NaN
12,Bioenergy,Europe,2016,USD/MWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,NaN
13,Offshore,UK,2011,GBP/MWh - 8.9% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.000000,136.000000,131.000000,131.000000,NaN,131.000000,121.000000,121.000000,121.000000,NaN,106.100000,NaN

In [4]:
# UK Inflation
inflation = pd.read_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/raw/uk_economy_data/CZBH-061118.csv')
inflation = inflation.drop(inflation.index[[0,1,2,3,4]])
inflation = inflation.rename(index = str, columns = {"Title":"Year","RPI All Items: Percentage change over 12 months: Jan 1987=100":"Inflation"})
inflation.Year = pd.to_numeric(inflation.Year)
inflation.Inflation = 1+pd.to_numeric(inflation.Inflation)/100

inflation.head()
# Conversion of all prices to 2014 prices as per the BEIS Electricity Generation Cost Report

   Year  Inflation
5  1949      1.028
6  1950      1.031
7  1951      1.091
8  1952      1.092
9  1953      1.031

In [5]:
def inflation_multiplier(x):
#     print '-----------'
    current_year = int(x.Year)
    required_year = 2014
    
    return_array = []
    
    for price in x.loc['1981':'2017']:        
        if(required_year>current_year):
            inbetween_years = range(current_year+1, required_year+1)
            for i in inbetween_years:
                infl_value = inflation[inflation.Year==i].Inflation
                price = price * infl_value[0]
            return_array.append(price)
        else:
            inbetween_years = range(current_year,required_year,-1)
            for i in inbetween_years:
                infl_value = inflation[inflation.Year==i].Inflation
                price = price / infl_value[0]
            return_array.append(price)
    return_array = pd.Series(return_array)
    ret = pd.Series(x.loc['Technology':'Units'])
    return ret.append(return_array)
        
    
def non_static_inflation(price_row):
    REQUIRED_YEAR=2014
    USD_GBP_2014_RATE = 1.3036
    x=price_row[4:]
    
    
    axes = x.axes[0]
    return_list = []
    for price, year in zip(x,axes):
        year=int(year)
        if not np.isnan(price):
            if year<=REQUIRED_YEAR:
                for year_of_inflation in range(year+1,REQUIRED_YEAR+1):
                    price = price*inflation[inflation['Year']==year_of_inflation].Inflation[0]
                price_row.loc[str(year)]=price*USD_GBP_2014_RATE

            else:
                for year_of_inflation in range(year-1,2014-1,-1):
                    price = price/inflation[inflation['Year']==year_of_inflation].Inflation[0]
                price_row.loc[str(year)]=price*USD_GBP_2014_RATE
                
    # Convert prices from GBP to USD
#     price_row*USD_GBP_2014_RATE
    
    return pd.Series(price_row)

def remove_kWh(df):
    df = df[~df.Units.str.contains('kWh')]
    return df

In [6]:
hist_cost = historical_costs.apply(lambda x: inflation_multiplier(x), axis=1)
hist_cost.columns = historical_costs.columns
hist_cost = remove_kWh(hist_cost)
hist_cost

,Technology,Country,Year,Units,1981,1984,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,CCGT,UK,2013,USD/MWh - 5% discount rate,NaN,NaN,NaN,NaN,NaN,82.554880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.690240,NaN,NaN
1,Coal,UK,2013,USD/MWh - 5% discount rate,177.19296,102.93248,80.015360,NaN,NaN,89.866240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nuclear,UK,2013,USD/MWh - 5% discount rate,123.83232,66.99008,75.243520,NaN,NaN,91.320320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.821120,NaN,NaN
4,Onshore,UK,2016,USD/MWh - 7.5% discount rate,NaN,NaN,227.845116,231.916869,219.073838,203.865489,196.684752,196.458094,183.209273,186.544096,172.43303,156.952582,148.073674,129.164366,110.945816,114.296685,117.756546,130.408296,117.092544,117.164804,111.029984,114.856837,109.575661,85.135243,82.575223,79.224732,80.673459,79.292780,75.543607,76.716725,NaN
6,PV - Utility,UK,2016,USD/MWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.876111,427.940633,489.408469,225.933202,194.421210,159.505145,158.338034,145.791593
8,Hydropower <10MW,Europe,2016,USD/MWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024
10,Hydropower >10MW,Europe,2016,USD/MWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240
12,Bioenergy,Europe,2016,USD/MWh - 7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,NaN
13,Offshore,UK,2011,GBP/MWh - 8.9% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.032061,148.032061,142.589706,142.589706,NaN,142.589706,131.704996,131.704996,131.704996,NaN,115.486777,NaN

In [7]:
hist_cost[['Units']] = hist_cost['Units'].str.split("-").str[1]
hist_cost

,Technology,Country,Year,Units,1981,1984,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,CCGT,UK,2013,5% discount rate,NaN,NaN,NaN,NaN,NaN,82.554880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.690240,NaN,NaN
1,Coal,UK,2013,5% discount rate,177.19296,102.93248,80.015360,NaN,NaN,89.866240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nuclear,UK,2013,5% discount rate,123.83232,66.99008,75.243520,NaN,NaN,91.320320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.821120,NaN,NaN
4,Onshore,UK,2016,7.5% discount rate,NaN,NaN,227.845116,231.916869,219.073838,203.865489,196.684752,196.458094,183.209273,186.544096,172.43303,156.952582,148.073674,129.164366,110.945816,114.296685,117.756546,130.408296,117.092544,117.164804,111.029984,114.856837,109.575661,85.135243,82.575223,79.224732,80.673459,79.292780,75.543607,76.716725,NaN
6,PV - Utility,UK,2016,7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.876111,427.940633,489.408469,225.933202,194.421210,159.505145,158.338034,145.791593
8,Hydropower <10MW,Europe,2016,7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024
10,Hydropower >10MW,Europe,2016,7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240
12,Bioenergy,Europe,2016,7.5% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,NaN
13,Offshore,UK,2011,8.9% discount rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.032061,148.032061,142.589706,142.589706,NaN,142.589706,131.704996,131.704996,131.704996,NaN,115.486777,NaN

In [8]:
hist_cost['Units'] = pd.to_numeric(hist_cost['Units'].str.split("%").str[0])/100
hist_cost

,Technology,Country,Year,Units,1981,1984,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,CCGT,UK,2013,0.050,NaN,NaN,NaN,NaN,NaN,82.554880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.690240,NaN,NaN
1,Coal,UK,2013,0.050,177.19296,102.93248,80.015360,NaN,NaN,89.866240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nuclear,UK,2013,0.050,123.83232,66.99008,75.243520,NaN,NaN,91.320320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.821120,NaN,NaN
4,Onshore,UK,2016,0.075,NaN,NaN,227.845116,231.916869,219.073838,203.865489,196.684752,196.458094,183.209273,186.544096,172.43303,156.952582,148.073674,129.164366,110.945816,114.296685,117.756546,130.408296,117.092544,117.164804,111.029984,114.856837,109.575661,85.135243,82.575223,79.224732,80.673459,79.292780,75.543607,76.716725,NaN
6,PV - Utility,UK,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.876111,427.940633,489.408469,225.933202,194.421210,159.505145,158.338034,145.791593
8,Hydropower <10MW,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024
10,Hydropower >10MW,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240
12,Bioenergy,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,NaN
13,Offshore,UK,2011,0.089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.032061,148.032061,142.589706,142.589706,NaN,142.589706,131.704996,131.704996,131.704996,NaN,115.486777,NaN

In [9]:
hist_cost = hist_cost.rename(index=str, columns={"Units":"Discount_rate"})
hist_cost

,Technology,Country,Year,Discount_rate,1981,1984,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,CCGT,UK,2013,0.050,NaN,NaN,NaN,NaN,NaN,82.554880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.690240,NaN,NaN
1,Coal,UK,2013,0.050,177.19296,102.93248,80.015360,NaN,NaN,89.866240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nuclear,UK,2013,0.050,123.83232,66.99008,75.243520,NaN,NaN,91.320320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.821120,NaN,NaN
4,Onshore,UK,2016,0.075,NaN,NaN,227.845116,231.916869,219.073838,203.865489,196.684752,196.458094,183.209273,186.544096,172.43303,156.952582,148.073674,129.164366,110.945816,114.296685,117.756546,130.408296,117.092544,117.164804,111.029984,114.856837,109.575661,85.135243,82.575223,79.224732,80.673459,79.292780,75.543607,76.716725,NaN
6,PV - Utility,UK,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.876111,427.940633,489.408469,225.933202,194.421210,159.505145,158.338034,145.791593
8,Hydropower <10MW,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024
10,Hydropower >10MW,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240
12,Bioenergy,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,NaN
13,Offshore,UK,2011,0.089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.032061,148.032061,142.589706,142.589706,NaN,142.589706,131.704996,131.704996,131.704996,NaN,115.486777,NaN

In [10]:
hist_cost.drop(["Country","Year"], axis=1)

,Technology,Discount_rate,1981,1984,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,CCGT,0.050,NaN,NaN,NaN,NaN,NaN,82.554880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.690240,NaN,NaN
1,Coal,0.050,177.19296,102.93248,80.015360,NaN,NaN,89.866240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nuclear,0.050,123.83232,66.99008,75.243520,NaN,NaN,91.320320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.821120,NaN,NaN
4,Onshore,0.075,NaN,NaN,227.845116,231.916869,219.073838,203.865489,196.684752,196.458094,183.209273,186.544096,172.43303,156.952582,148.073674,129.164366,110.945816,114.296685,117.756546,130.408296,117.092544,117.164804,111.029984,114.856837,109.575661,85.135243,82.575223,79.224732,80.673459,79.292780,75.543607,76.716725,NaN
6,PV - Utility,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.876111,427.940633,489.408469,225.933202,194.421210,159.505145,158.338034,145.791593
8,Hydropower <10MW,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024
10,Hydropower >10MW,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240
12,Bioenergy,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,NaN
13,Offshore,0.089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.032061,148.032061,142.589706,142.589706,NaN,142.589706,131.704996,131.704996,131.704996,NaN,115.486777,NaN

In [11]:
# hist_cost.to_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/processed/power_plants/power_plant_costs/historical_power_plant_costs/historical_lcoe_costs.csv')
hist_cost.to_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/interim/plant_costs/historical_plant_costs/self_discovered_historical_lcoe_costs.csv')

## Create simplified power plant type column

In [12]:
simplified_type = hist_cost.copy()
simplified_type['Simplified_type'] = simplified_type['Technology'].map(lambda x: "Coal" if "Coal" in x else "PV" if "PV" in x else "EfW" if "EfW" in x
                                          else "AD" if "AD" in x else "ACT" if "ACT" in x else "Offshore" if "Offshore" in x
                                          else "Biomass" if "Biomass" in x else "Conversions" if "Conversions" in x 
                                          else "Onshore" if "Onshore" in x else "Landfill" if "Landfill" in x
                                          else "Sewage" if "Sewage" in x else "Geothermal" if "Geothermal" in x 
                                          else "Hydro_Store" if all(check in x for check in ['Hydro','Store'])
                                          else "Hydro" if "Hydro" in x
                                          else "Wave" if "Wave" in x else "Tidal" if "Tidal" in x 
#                                           else "OCGT_2000hr" if all(check in x for check in ["OCGT", "2000"]) 
                                          else "OCGT" if all(check in x for check in ["OCGT", "2000"]) 
                                          else "OCGT_500hr" if all(check in x for check in ["OCGT", "500"])
                                          else "CCGT" if "CCGT" in x
                                          else "OCGT" if "OCGT" in x
                                          else "Recip_gas" if "Recip Gas" in x else "Recip_gas" if "RECIP GAS" in x else "Nuclear" if "Nuclear" in x 
                                          else "Pumped_storage" if "Pumped" in x
                                          else "PV" if "Solar" in x else "Recip_diesel" if "Recip Diesel" in x 
                                          else "Biomass" if "Bioenergy" in x                             
                                          else "")
simplified_type[['Technology', 'Simplified_type']]

          Technology Simplified_type
0               CCGT            CCGT
1               Coal            Coal
2            Nuclear         Nuclear
4            Onshore         Onshore
6       PV - Utility              PV
8   Hydropower <10MW           Hydro
10  Hydropower >10MW           Hydro
12         Bioenergy         Biomass
13          Offshore        Offshore

In [13]:
simplified_type.to_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/interim/plant_costs/historical_plant_costs/Simplified_type/self_discovered_historical_lcoe_costs_with_simplified_type.csv')

In [14]:
simplified_type

,Technology,Country,Year,Discount_rate,1981,1984,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,Simplified_type
0,CCGT,UK,2013,0.050,NaN,NaN,NaN,NaN,NaN,82.554880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.690240,NaN,NaN,CCGT
1,Coal,UK,2013,0.050,177.19296,102.93248,80.015360,NaN,NaN,89.866240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coal
2,Nuclear,UK,2013,0.050,123.83232,66.99008,75.243520,NaN,NaN,91.320320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.821120,NaN,NaN,Nuclear
4,Onshore,UK,2016,0.075,NaN,NaN,227.845116,231.916869,219.073838,203.865489,196.684752,196.458094,183.209273,186.544096,172.43303,156.952582,148.073674,129.164366,110.945816,114.296685,117.756546,130.408296,117.092544,117.164804,111.029984,114.856837,109.575661,85.135243,82.575223,79.224732,80.673459,79.292780,75.543607,76.716725,NaN,Onshore
6,PV - Utility,UK,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.876111,427.940633,489.408469,225.933202,194.421210,159.505145,158.338034,145.791593,PV
8,Hydropower <10MW,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,Hydro
10,Hydropower >10MW,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,Hydro
12,Bioenergy,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,NaN,Biomass
13,Offshore,UK,2011,0.089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.032061,148.032061,142.589706,142.589706,NaN,142.589706,131.704996,131.704996,131.704996,NaN,115.486777,NaN,Offshore

# Convert Historical Power Plant LCOE Costs to Long Format for Easy Formatting

In [15]:
hist_cost

,Technology,Country,Year,Discount_rate,1981,1984,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,CCGT,UK,2013,0.050,NaN,NaN,NaN,NaN,NaN,82.554880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.690240,NaN,NaN
1,Coal,UK,2013,0.050,177.19296,102.93248,80.015360,NaN,NaN,89.866240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nuclear,UK,2013,0.050,123.83232,66.99008,75.243520,NaN,NaN,91.320320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.821120,NaN,NaN
4,Onshore,UK,2016,0.075,NaN,NaN,227.845116,231.916869,219.073838,203.865489,196.684752,196.458094,183.209273,186.544096,172.43303,156.952582,148.073674,129.164366,110.945816,114.296685,117.756546,130.408296,117.092544,117.164804,111.029984,114.856837,109.575661,85.135243,82.575223,79.224732,80.673459,79.292780,75.543607,76.716725,NaN
6,PV - Utility,UK,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440.876111,427.940633,489.408469,225.933202,194.421210,159.505145,158.338034,145.791593
8,Hydropower <10MW,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024,103.826024
10,Hydropower >10MW,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240,135.229240
12,Bioenergy,Europe,2016,0.075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,87.533311,NaN
13,Offshore,UK,2011,0.089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,148.032061,148.032061,142.589706,142.589706,NaN,142.589706,131.704996,131.704996,131.704996,NaN,115.486777,NaN

In [16]:
long_lcoe = pd.melt(hist_cost, id_vars=['Technology','Discount_rate'], value_vars=['1981', '1984', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017'], value_name='lcoe', var_name="Year")

long_lcoe

           Technology  Discount_rate  Year        lcoe
0                CCGT          0.050  1981         NaN
1                Coal          0.050  1981  177.192960
2             Nuclear          0.050  1981  123.832320
3             Onshore          0.075  1981         NaN
4        PV - Utility          0.075  1981         NaN
5    Hydropower <10MW          0.075  1981         NaN
6    Hydropower >10MW          0.075  1981         NaN
7           Bioenergy          0.075  1981         NaN
8            Offshore          0.089  1981         NaN
9                CCGT          0.050  1984         NaN
10               Coal          0.050  1984  102.932480
11            Nuclear          0.050  1984   66.990080
12            Onshore          0.075  1984         NaN
13       PV - Utility          0.075  1984         NaN
14   Hydropower <10MW          0.075  1984         NaN
15   Hydropower >10MW          0.075  1984         NaN
16          Bioenergy          0.075  1984         NaN
17           Offshore          0.089  1984         NaN
18               CCGT          0.050  1989         NaN
19               Coal          0.050  1989   80.015360
20            Nuclear          0.050  1989   75.243520
21            Onshore          0.075  1989  227.845116
22       PV - Utility          0.075  1989         NaN
23   Hydropower <10MW          0.075  1989         NaN
24   Hydropower >10MW          0.075  1989         NaN
25          Bioenergy          0.075  1989         NaN
26           Offshore          0.089  1989         NaN
27               CCGT          0.050  1990         NaN
28               Coal          0.050  1990         NaN
29            Nuclear          0.050  1990         NaN
30            Onshore          0.075  1990  231.916869
31       PV - Utility          0.075  1990         NaN
32   Hydropower <10MW          0.075  1990         NaN
33   Hydropower >10MW          0.075  1990         NaN
34          Bioenergy          0.075  1990         NaN
35           Offshore          0.089  1990         NaN
36               CCGT          0.050  1991         NaN
37               Coal          0.050  1991         NaN
38            Nuclear          0.050  1991         NaN
39            Onshore          0.075  1991  219.073838
40       PV - Utility          0.075  1991         NaN
41   Hydropower <10MW          0.075  1991         NaN
42   Hydropower >10MW          0.075  1991         NaN
43          Bioenergy          0.075  1991         NaN
44           Offshore          0.089  1991         NaN
45               CCGT          0.050  1992   82.554880
46               Coal          0.050  1992   89.866240
47            Nuclear          0.050  1992   91.320320
48            Onshore          0.075  1992  203.865489
49       PV - Utility          0.075  1992         NaN
50   Hydropower <10MW          0.075  1992         NaN
51   Hydropower >10MW          0.075  1992         NaN
52          Bioenergy          0.075  1992         NaN
53           Offshore          0.089  1992         NaN
54               CCGT          0.050  1993         NaN
55               Coal          0.050  1993         NaN
56            Nuclear          0.050  1993         NaN
57            Onshore          0.075  1993  196.684752
58       PV - Utility          0.075  1993         NaN
59   Hydropower <10MW          0.075  1993         NaN
60   Hydropower >10MW          0.075  1993         NaN
61          Bioenergy          0.075  1993         NaN
62           Offshore          0.089  1993         NaN
63               CCGT          0.050  1994         NaN
64               Coal          0.050  1994         NaN
65            Nuclear          0.050  1994         NaN
66            Onshore          0.075  1994  196.458094
67       PV - Utility          0.075  1994         NaN
68   Hydropower <10MW          0.075  1994         NaN
69   Hydropower >10MW          0.075  1994         NaN
70          Bioenergy          0.075  1994         NaN
71           Offshore          0.089  1994         NaN
72               CCGT          0.050  1995         NaN
73               Coal          0.050  1995         NaN
74            Nuclear          0.050  1995         NaN
75            Onshore          0.075  1995  183.209273
76       PV - Utility          0.075  1995         NaN
77   Hydropower <10MW          0.075  1995         NaN
78   Hydropower >10MW          0.075  1995         NaN
79          Bioenergy          0.075  1995         NaN
80           Offshore          0.089  1995         NaN
81               CCGT          0.050  1996         NaN
82               Coal          0.050  1996         NaN
83            Nuclear          0.050  1996         NaN
84            Onshore          0.075  1996  186.544096
85       PV - Utility          0.075  1996         NaN
86   Hydropower <10MW          0.075  1996         NaN
87   Hydropower >10MW          0.075  1996         NaN
88          Bioenergy          0.075  1996         NaN
89           Offshore          0.089  1996         NaN
90               CCGT          0.050  1997         NaN
91               Coal          0.050  1997         NaN
92            Nuclear          0.050  1997         NaN
93            Onshore          0.075  1997  172.433030
94       PV - Utility          0.075  1997         NaN
95   Hydropower <10MW          0.075  1997         NaN
96   Hydropower >10MW          0.075  1997         NaN
97          Bioenergy          0.075  1997         NaN
98           Offshore          0.089  1997         NaN
99               CCGT          0.050  1998         NaN
100              Coal          0.050  1998         NaN
101           Nuclear          0.050  1998         NaN
102           Onshore          0.075  1998  156.952582
103      PV - Utility          0.075  1998         NaN
104  Hydropower <10MW          0.075  1998         NaN
105  Hydropower >10MW          0.075  1998         NaN
106         Bioenergy          0.075  1998         NaN
107          Offshore          0.089  1998         NaN
108              CCGT          0.050  1999         NaN
109              Coal          0.050  1999         NaN
110           Nuclear          0.050  1999         NaN
111           Onshore          0.075  1999  148.073674
112      PV - Utility          0.075  1999         NaN
113  Hydropower <10MW          0.075  1999         NaN
114  Hydropower >10MW          0.075  1999         NaN
115         Bioenergy          0.075  1999         NaN
116          Offshore          0.089  1999         NaN
117              CCGT          0.050  2000         NaN
118              Coal          0.050  2000         NaN
119           Nuclear          0.050  2000         NaN
120           Onshore          0.075  2000  129.164366
121      PV - Utility          0.075  2000         NaN
122  Hydropower <10MW          0.075  2000         NaN
123  Hydropower >10MW          0.075  2000         NaN
124         Bioenergy          0.075  2000   87.533311
125          Offshore          0.089  2000         NaN
126              CCGT          0.050  2001         NaN
127              Coal          0.050  2001         NaN
128           Nuclear          0.050  2001         NaN
129           Onshore          0.075  2001  110.945816
130      PV - Utility          0.075  2001         NaN
131  Hydropower <10MW          0.075  2001         NaN
132  Hydropower >10MW          0.075  2001         NaN
133         Bioenergy          0.075  2001   87.533311
134          Offshore          0.089  2001         NaN
135              CCGT          0.050  2002         NaN
136              Coal          0.050  2002         NaN
137           Nuclear          0.050  2002         NaN
138           Onshore          0.075  2002  114.296685
139      PV - Utility          0.075  2002         NaN
140  Hydropower <10MW          0.075  2002         NaN
141  Hydropower >10MW          0.075  2002         NaN
142         Bioenergy          0.075  2002   87.533311
143          Offshore          0.089  2002         NaN
144              CCGT          0.050  2003         NaN
145              Coal          0.050  2003         NaN
146           Nuclear          0.050  2003         NaN
147           Onshore          0.075  2003  117.756546
148      PV - Utility          0.075  2003         NaN
149  Hydropower <10MW          0.075  2003         NaN
150  Hydropower >10MW          0.075  2003         NaN
151         Bioenergy          0.075  2003   87.533311
152          Offshore          0.089  2003         NaN
153              CCGT          0.050  2004         NaN
154              Coal          0.050  2004         NaN
155           Nuclear          0.050  2004         NaN
156           Onshore          0.075  2004  130.408296
157      PV - Utility          0.075  2004         NaN
158  Hydropower <10MW          0.075  2004         NaN
159  Hydropower >10MW          0.075  2004         NaN
160         Bioenergy          0.075  2004   87.533311
161          Offshore          0.089  2004         NaN
162              CCGT          0.050  2005         NaN
163              Coal          0.050  2005         NaN
164           Nuclear          0.050  2005         NaN
165           Onshore          0.075  2005  117.092544
166      PV - Utility          0.075  2005         NaN
167  Hydropower <10MW          0.075  2005         NaN
168  Hydropower >10MW          0.075  2005         NaN
169         Bioenergy          0.075  2005   87.533311
170          Offshore          0.089  2005         NaN
171              CCGT          0.050  2006         NaN
172              Coal          0.050  2006         NaN
173           Nuclear          0.050  2006         NaN
174           Onshore          0.075  2006  117.164804
175      PV - Utility          0.075  2006         NaN
176  Hydropower <10MW          0.075  2006         NaN
177  Hydropower >10MW          0.075  2006         NaN
178         Bioenergy          0.075  2006   87.533311
179          Offshore          0.089  2006  148.032061
180              CCGT          0.050  2007         NaN
181              Coal          0.050  2007         NaN
182           Nuclear          0.050  2007         NaN
183           Onshore          0.075  2007  111.029984
184      PV - Utility          0.075  2007         NaN
185  Hydropower <10MW          0.075  2007         NaN
186  Hydropower >10MW          0.075  2007         NaN
187         Bioenergy          0.075  2007   87.533311
188          Offshore          0.089  2007  148.032061
189              CCGT          0.050  2008         NaN
190              Coal          0.050  2008         NaN
191           Nuclear          0.050  2008         NaN
192           Onshore          0.075  2008  114.856837
193      PV - Utility          0.075  2008         NaN
194  Hydropower <10MW          0.075  2008         NaN
195  Hydropower >10MW          0.075  2008         NaN
196         Bioenergy          0.075  2008   87.533311
197          Offshore          0.089  2008  142.589706
198              CCGT          0.050  2009         NaN
199              Coal          0.050  2009         NaN
200           Nuclear          0.050  2009         NaN
201           Onshore          0.075  2009  109.575661
202      PV - Utility          0.075  2009         NaN
203  Hydropower <10MW          0.075  2009         NaN
204  Hydropower >10MW          0.075  2009         NaN
205         Bioenergy          0.075  2009   87.533311
206          Offshore          0.089  2009  142.589706
207              CCGT          0.050  2010         NaN
208              Coal          0.050  2010         NaN
209           Nuclear          0.050  2010         NaN
210           Onshore          0.075  2010   85.135243
211      PV - Utility          0.075  2010  440.876111
212  Hydropower <10MW          0.075  2010  103.826024
213  Hydropower >10MW          0.075  2010  135.229240
214         Bioenergy          0.075  2010   87.533311
215          Offshore          0.089  2010         NaN
216              CCGT          0.050  2011         NaN
217              Coal          0.050  2011         NaN
218           Nuclear          0.050  2011         NaN
219           Onshore          0.075  2011   82.575223
220      PV - Utility          0.075  2011  427.940633
221  Hydropower <10MW          0.075  2011  103.826024
222  Hydropower >10MW          0.075  2011  135.229240
223         Bioenergy          0.075  2011   87.533311
224          Offshore          0.089  2011  142.589706
225              CCGT          0.050  2012         NaN
226              Coal          0.050  2012         NaN
227           Nuclear          0.050  2012         NaN
228           Onshore          0.075  2012   79.224732
229      PV - Utility          0.075  2012  489.408469
230  Hydropower <10MW          0.075  2012  103.826024
231  Hydropower >10MW          0.075  2012  135.229240
232         Bioenergy          0.075  2012   87.533311
233          Offshore          0.089  2012  131.704996
234              CCGT          0.050  2013         NaN
235              Coal          0.050  2013         NaN
236           Nuclear          0.050  2013         NaN
237           Onshore          0.075  2013   80.673459
238      PV - Utility          0.075  2013  225.933202
239  Hydropower <10MW          0.075  2013  103.826024
240  Hydropower >10MW          0.075  2013  135.229240
241         Bioenergy          0.075  2013   87.533311
242          Offshore          0.089  2013  131.704996
243              CCGT          0.050  2014         NaN
244              Coal          0.050  2014         NaN
245           Nuclear          0.050  2014         NaN
246           Onshore          0.075  2014   79.292780
247      PV - Utility          0.075  2014  194.421210
248  Hydropower <10MW          0.075  2014  103.826024
249  Hydropower >10MW          0.075  2014  135.229240
250         Bioenergy          0.075  2014   87.533311
251          Offshore          0.089  2014  131.704996
252              CCGT          0.050  2015  103.690240
253              Coal          0.050  2015         NaN
254           Nuclear          0.050  2015   82.821120
255           Onshore          0.075  2015   75.543607
256      PV - Utility          0.075  2015  159.505145
257  Hydropower <10MW          0.075  2015  103.826024
258  Hydropower >10MW          0.075  2015  135.229240
259         Bioenergy          0.075  2015   87.533311
260          Offshore          0.089  2015         NaN
261              CCGT          0.050  2016         NaN
262              Coal          0.050  2016         NaN
263           Nuclear          0.050  2016         NaN
264           Onshore          0.075  2016   76.716725
265      PV - Utility          0.075  2016  158.338034
266  Hydropower <10MW          0.075  2016  103.826024
267  Hydropower >10MW          0.075  2016  135.229240
268         Bioenergy          0.075  2016   87.533311
269          Offshore          0.089  2016  115.486777
270              CCGT          0.050  2017         NaN
271              Coal          0.050  2017         NaN
272           Nuclear          0.050  2017         NaN
273           Onshore          0.075  2017         NaN
274      PV - Utility          0.075  2017  145.791593
275  Hydropower <10MW          0.075  2017  103.826024
276  Hydropower >10MW          0.075  2017  135.229240
277         Bioenergy          0.075  2017         NaN
278          Offshore          0.089  2017         NaN

In [17]:
# Save long historical LCOE data to file
long_lcoe.to_csv('/Users/b1017579/Documents/PhD/Projects/10. ELECSIM/data/processed/power_plants/power_plant_costs/historical_power_plant_costs/historical_power_plant_costs_long.csv')